:root{
    --primary-text: "Roboto", sans-serif;
    --secondary-text: Raleway, sans-serif;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --acent-color: #2196F3;
    --page-taming-func: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
p{
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
body{
    font-family: var(--primary-text);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.2;

    color: var(--primary-text-color);
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    margin-bottom: 50px;
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}
/* ======== HEADER========== */
.page-header{
    border-bottom: 1px solid #ECECEC;
}
.page-header-container{
    display: flex;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 50px;
    padding-left: 0;
}
.logo{
    margin-right: 93px;
    font-family: var(--secondary-text);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.78px;

    color: #000000;
}
.logo-acent{
    color: var(--acent-color);
}
.nav-link{
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-text-color);
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms var(--page-taming-func);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--acent-color);
}
.current{
    position: relative;
    color: var(--acent-color);
}
.current::after{
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
}
.feedback {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-left: 0;
    margin-left: auto;
}
.feedback-link{
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: currentColor;
    transition: color 250ms var(--page-taming-func);
}
.feedback-link:hover,
.feedback-link:focus{
    color: var(--acent-color);
}
.feedback-icon{
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill 250ms var(--page-taming-func);
}
.feedback-link:hover .feedback-icon,
.feedback-link:focus .feedback-icon{
    fill: var(--acent-color);
}

/* ========= HERO-SECTION======== */
.hero-section{
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    color: #ffffff;
    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/bg-img.jpg);
    background-position: center;
    background-size: cover;
}
.hero-title{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero-button{
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    color: #ffffff;
    background-color: var(--acent-color);
    cursor: pointer;

    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* ============ Features ========= */
.features-section-title{
    display: none;
}
.features-list{
    display: flex;
    gap: 30px;
}
.features-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
}
.features-title{
    margin-bottom: 10px;
    color: var(--secondary-text-color);
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.features-text{
    line-height: 1.7;
    letter-spacing: 0.42px;
}
/* ==========ACTINGS======= */
.actings-section{
    padding-top: 0;
}
.actings-list{
    display: flex;
    gap: 30px;
}
.actings-img-wrapper{
    position: relative;
}
.actings-text{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.80);
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
/* ========= TEAM========= */
.team-section{
    background-color: #F5F4FA;
}
.team-list{
    display: flex;
    gap: 30px;
}
.team-item{
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.team-text-wrapper{
    padding: 30px 32px;
}
.team-title{
    margin-bottom: 10px;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}
.team-text{
    margin-bottom: 16px;
    font-size: 16px;
    letter-spacing: 0.48px;
}
.team-social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.team-social-link{
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 250ms var(--page-taming-func);
}
.team-social-link:hover,
.team-social-link:focus{
    background-color: var(--acent-color);
}
.social-icon{
    fill: #AFB1B8;
    transition: fill 250ms var(--page-taming-func);
}
.team-social-link:hover .social-icon,
.team-social-link:focus .social-icon{
    fill: #ffffff;
}
/* =========CLIENTS======= */
.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.clients-link{
    display: inline-block;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    transition: border-color 250ms var(--page-taming-func);
}
.clients-link:hover,
.clients-link:focus{
    border-color: var(--acent-color);
}
.clients-icon{
    fill: #AFB1B8;
    transition: fill 250ms var(--page-taming-func);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--acent-color);
}
/* =========FOOTER======= */

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;;
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
    color: #ffffff;
}
.address-item:not(:last-child){
    margin-bottom: 9px;
}
.address-link{
    color: rgba(255, 255, 255, 0.60);
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.42px;
    transition: color 250ms var(--page-taming-func);
}
.address-map{
    color: #ffffff;
}
.address-link:hover,
.address-link:focus{
    color: var(--acent-color);
}
.footer-social{
    margin-left: 70px;
}
.footer-social-text{
    display: inline-block;
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.footer-social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--page-taming-func);
}
.footer-social-link:hover,
.footer-social-link:focus{
    background-color: var(--acent-color);
}
.footer-social-icon{
    fill: #ffffff;
}
.footer-form-wrapper{
    margin-left: auto;
}
.footer-form-text{
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-input{
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;

    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.48px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background-color: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer-form-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background-color: var(--acent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* ======= PORTFOLIO =========*/
.portfolio-title{
    display: none;
}
.button-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.button-nav{
    font-family: inherit;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #F5F4FA;
    cursor: pointer;
    transition: color 250ms var(--page-taming-func), 
    background-color 250ms var(--page-taming-func),
    box-shadow 250ms var(--page-taming-func);
}
.button-nav:hover,
.button-nav:focus{
    color: #ffffff;
    background-color: var(--acent-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.projects-link{
    display: inline-block;
    width: 370px;
    transition: box-shadow 250ms var(--page-taming-func);
}
.projects-link:hover,
.projects-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}

.projects-img-wrapper{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    color: #FFF;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.54px;
    background-color: rgba(33, 150, 243, 0.90);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms var(--page-taming-func);
}

.projects-link:hover .overlay,
.projects-link:focus .overlay{
    transform: translateY(0);
}

.projects-text-wrapper{
    padding: 20px 24px;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
}
.projects-title{
    margin-bottom: 4px;
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}
.projects-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

/* ========= Modal========== */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.20);
    transition: opacity 250ms var(--page-taming-func), visibility 250ms var(--page-taming-func);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms var(--page-taming-func);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9);
}
.btn-close-modal{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);;
}
.btn-close-modal:hover .btn-close-icon,
.btn-close-modal:focus .btn-close-icon{
    fill: var(--acent-color);
    outline: none;
}
.modal-title{
    margin-bottom: 12px;
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.modal-form{
    display: flex;
    flex-direction: column;
}
.form-label{
    margin-bottom: 10px;
}
.input-wrapper{
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}
.input-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.form-input:focus{
    border-color: var(--acent-color);
    outline: none;
}
.form-input:focus + .input-icon{
    fill: var(--acent-color);
}
.form-massega-label{
    margin-bottom: 4px;
}
.form-textarea{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    letter-spacing: 0.12px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}
.form-textarea,
.form-textarea::placeholder{
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    letter-spacing: 0.12px;
}
.form-checkbox{
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
}